<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Admin View</title>
  </head>
  <nav>
    <li><a href="/">New Poll</a></li>
  </nav>
  <body>
    <h1>Admin View Page</h1>
    <h3>Poll Title: <%=votes.title%></h1>
    <h3>Poll Question: <%=votes.question%></h2>

    <h2>poll results</h2>
    <h3 id="votes-count"> </h3>
    <div class="switch">
      <p>
      </p>
      <label id="close-poll">
        <input type="checkbox" id="close-poll">
        <span class="lever"></span>
        End Poll
      </label>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
    <script src="vote.ejs"></script>
  </body>
</html>
