<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <meta charset="utf-8">
    <title>Admin View</title>
  </head>
  <body>
    <h1>Admin View Page</h1>
    <div id="admin-view">

    </div>
    <div class="switch">
      <p>
      </p>
      <label>
        <input type="checkbox">
        <span class="lever"></span>
        End Poll
      </label>
    </div>
  </body>
</html>
