<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <script rel="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Welcome To flashTagg</title>
  </head>
  <body>
    <h1>Welcome To flashTagg</h1>
    <form action="/poll" method="POST" name="poll" class="col s6 offset-s3" id='choice-index'>
    <div class="row">
      <div class="input-field col s12">
        <input name="poll[title]" id="poll-title" type="text" placeholder='Title'>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="pollInformation[question]" id="question" type="text" placeholder='Question' >
      </div>
    </div>
    <div class="responses">
    <div class="row">
      <div class="input-field col s12">
        <input name="pollInformation[choices][]"  type="text" placeholder='Choice' >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="pollInformation[choices][]" type="text" placeholder="Choice">
      </div>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit</button>
  <button type="button" id="add-poll-choice" class="btn-floating btn-small waves-effect waves-light red">
    +
  </button>
  <div class="col s12 m4 l4">
  <h5>Set Timeout</h5>
  <input name="pollInformation[time]" id="question" type="text" placeholder='enter time in minutes' >
</div>
<div class="col s12 m4 l4">
  <p></p>
  <h5>Anonymous Results</h5>
  <div class="switch">
    <label>Off
      <input type="checkbox" name="pollInformation[privatePoll]" value="true"/><span class="lever anonymous-results" id='hide'></span>On
    </label>
  </div>
</div>
</form>
  <script src='/index.js'></script>
  <script src='/client.js'></script>
  <script src="/admin.ejs"></script>
  <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
