<!doctype html>
<html>
  <head>
    <title>flashTagg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <h1>flashTagg</h1>
    <div id="connection-count"></div>
    <div id="status-message"></div>
  </head>
  <body>
    <br><br>
    <%if (votes.privatePoll === false){ %>
      <div id="votes-count"></div>
      <%}else{%>
        <br>
        <%}%>
    <div id="vote-item"></div>


</script>
<h3 id='greeting'>things you can vote for!</h3>
    <div id="choices">
      <%if(votes.active === true) { %>
        <% votes.choices.forEach(function(vote){ %>
            <button><%= vote %> </button>
        <% }) %>
    <% } else { %>
        <h1> voting is now closed fam <h1>
    <% } %>
  </div>

    </script>



    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>


  </body>
</html>
